@model myproject.Models.Post

<div id="postcard">
    <div class="info">
        <div id="user">
            <p>@Html.DisplayFor(model => model.PostAuthor)</p>
        </div>
        <div id="time">
            <p>
                @Html.DisplayFor(model => model.PostDate)
            </p>
        </div>

    </div>
    <div class="post">
        <div id="postcontent">
            <p>
                @Html.DisplayFor(model => model.PostContent)
            </p>
        </div>
        <div id="postimg">
            <img src=" @Html.DisplayFor(model => model.PostImage)" />
        </div>
    </div>

    <div class="interact">
        <div class="cardbox-base">
            <ul class="float-right">
                <li><a><i class="fa fa-comments"></i></a></li>
                <li><a><em class="mr-5">12</em></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa fa-thumbs-up"></i></a></li>

                <li><a><span>@Html.DisplayFor(model => model.PostLike)</span></a></li>
            </ul>
        </div>

        <div class="comments">
            <div>
                <p style="font-weight: bold;">
                    Nhat Minh
                </p>
                <p>
                    xin chao
                </p>
            </div>
            <div>
                <p style="font-weight: bold;">
                    Gia Bao
                </p>
                <p>
                    xin chao
                </p>
            </div>
            <div>
                <p style="font-weight: bold;">
                    Gia
                </p>
                <p>
                    xin chao xin chao
                </p>
            </div>
        </div>

        <div class="postcomment">
            <input placeholder="Write a comment" type="text">
        </div>

    </div>
</div>