@model IEnumerable<myproject.Models.Event>

@{
    ViewBag.Title = "Event Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Events Management</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @Html.ActionLink("New Event", "Create", new { @class = "m-0 font-weight-bold text-primary" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>About</th>
                        <th>Image Background</th>
                        <th>Seat</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.EventName, "Edit", new { id = item.EventID }, new { @style = "color: #858796" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventAbout)
                            </td>
                            <td style="text-align: center">
                                <img src="@item.EventImageBackground" style="width:95px; height:50px;" />
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.EventSeats)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
