@model PagedList.IPagedList<myproject.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Orders List</h2>
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @style = "border-radius: 10px; margin-top: 5px;", placeholder = "Search order..." })
    </p>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
        <th>
            Total Price
        </th>
        <th>
            Order Date
        </th>
        <th>
            Checked
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @{
                string address = item.Address + ", " + item.Ward + ", " + item.District + ", " + item.Province;
            }
            <td>
                @address
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="text-align: center">
                @if (item.Checked)
                {
                    <span style="font-weight: bold; color: forestgreen;">&#10003;</span>
                }
                else
                {
                    @Html.ActionLink("Check", "CheckOrderd", new { id = item.OrderID })
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }
</table>
<div style="margin-left: 500px;">
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
    ViewBag.CurrentFilter
    }))
</div>