@model IEnumerable<myproject.Models.Guide>

<!DOCTYPE html>
<html>
<head>
    <title>Yen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../Content/css/style.css">
    <link rel="stylesheet" href="../../Content/css/social.css">
    <link rel="stylesheet" href="~/Content/css/guide.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/website-menu-07/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/guidescript.js"></script>
    <style>
        @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
    </style>
    <script>
        function openLoginForm() {
            document.body.classList.add("showLoginForm");
        }
        function closeLoginForm() {
            document.body.classList.remove("showLoginForm");
        }

        function openSignupForm() {
            document.body.classList.add("showSignupForm");
        }
        function closeSignupForm() {
            document.body.classList.remove("showSignupForm");
        }
    </script>
</head>
<body>
    <body>
        <!-- LoginForm -->
        <div class="popup-overlay"></div>
        <div class="popup">
            <div class="popup-close" onclick="closeLoginForm()">×</div>
            <div class="form">
                <div class="avatar">
                    <img src="~/images/yen.png" alt="">
                </div>
                <div class="header">
                    Login
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div class="element">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="element">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="element">
                        <button type="submit">Login</button>
                    </div>
                }
                <a href="#" onclick="openSignupForm(); closeLoginForm()">
                    <p style="text-align:center;margin-top:5px; color:green">Create new account.</p>
                </a>
            </div>
        </div>

        <div class="popup-signup-overlay"></div>
        <div class="popup-signup">
            <div class="popup-close-signup" onclick="closeSignupForm()">×</div>
            <div class="form-signup">
                <div class="avatar">
                    <img src="~/images/yen.png" alt="">
                </div>
                <div class="header">

                </div>
                @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
                {
                    <div class="element">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="element">
                        <label for="fullname">Full name</label>
                        <input type="text" id="fullname" name="fullname" required>
                    </div>
                    <div class="element">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="element">
                        <label for="confirmpassword">Confirm password</label>
                        <input type="password" id="confirmpassword" name="confirmpassword" required>
                    </div>
                    <div class="element">
                        <button>Sign-up</button>
                    </div>
                }
                <a href="#" onclick="openLoginForm(); closeSignupForm()">
                    <p style="text-align:center;margin-top:5px; color:green">Already had account? Login here.</p>
                </a>
            </div>
        </div>
        <!-- EndLogin -->
        <div class="wrapper_product" style="background-image: url('../../images/bg3.jpg'); height: 120px;">
            <header style="padding-left:40px; position: absolute;width: 100%;">
                <nav>
                    <div class="menu-icon">
                        <i class="fa fa-bars fa-2x"></i>
                    </div>
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")"><img src="../../images/yen.png" class="yen"></a>
                    </div>
                    <div class="menu">
                        @Html.Partial("_Menu")
                    </div>
                </nav>
            </header>
        </div>

        <main>
            <div class="guide-wrapper">
                <div class="row">
                    <div class="col-9">
                        <div class="guide">
                            <div style="margin-bottom: 40px;">
                                <h1>Your Recommend Guides</h1>
                            </div>
                            <div>

                                @if (Session["Id"] != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <a href="@Url.Action("GuideDetail", "Home", new { id=item.Id })" style="text-decoration:none">
                                            <div class="guide-content">
                                                <p style="font-weight: 700; font-size: 26px;">@Html.DisplayFor(modelItem => item.GuideTitle)</p>
                                                <p style="font-weight: 400;">Family: @Html.DisplayFor(modelItem => item.family_hasttag)</p>
                                                <p style="font-style: italic;">Difficulty: @Html.DisplayFor(modelItem => item.difficulty_hashtag)</p>
                                                <p style="margin-top: 10px;">@Html.DisplayFor(modelItem => item.GuideDescription)</p>
                                            </div>
                                        </a>

                                    }
                                }
                                else
                                {
                                    <p>Please Login First!</p>
                                }



                                <!-- guide -->
                                <!-- endguide -->


                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="yourguide" style="margin-bottom: 20px;">
                            @if (Session["Id"] != null)
                            {
                                <a><p>Recommended Guides for @Session["FullName"]</p></a>
                            }
                            else
                            {
                                <a href="#" onclick="openLoginForm()"><p>Please Login To See Your Recommend Guides</p></a>
                            }
                        </div>
                        <!--<div class="guide-filter">
                            <div style="margin-bottom: 20px;">
                                <h1>Guide Filter</h1>
                            </div>
                            <div>
                                <form>
                                    <input type="text" class="searchTerm" placeholder="Search for guide name.">
                                    <select name="" onchange="" onclick="return false;" id="filter-family">
                                        <option value="">Select Plant Family</option>
                                        <option value="1">Strelitziaceae</option>
                                        <option value="2">Moraceae</option>
                                        <option value="3">Malvaceae</option>
                                        <option value="3">Asparagaceae</option>
                                    </select>-->

                                    <!-- function -->
                                    <!--<div class="row" style="margin-top: 10px;">
                                        <div class="col-6">
                                            <select name="family1" onchange="" onclick="return false;" id="">
                                                <option value="">Select Clade</option>
                                                <option value="1">Tracheophytes</option>
                                                <option value="2">Angiosperms</option>
                                                <option value="3">Eudicots</option>
                                                <option value="3">Monocots</option>
                                                <option value="3">Strelitziaceae</option>
                                                <option value="3">Commelinids</option>
                                                <option value="3">Rosids</option>
                                            </select>
                                        </div>
                                        <div class="col-6" id="secondfilter">
                                            <div id="btn-addfilter">
                                                <button onclick="addfilter()">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!-- endfucntion -->
                                    <!--<button type="submit" id="btn-filtersubmit">Search</button>
                                </form>
                            </div>
                        </div>-->


                    </div>
                </div>


            </div>
        </main>
    </body>
</html>


